.profile{
    margin-left: 0%;
}

.celebName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.disclaimer{
    color: red;
    margin-top: 1.5%;
}

.celebPic{
    height: 550px;
    position: absolute;
}

.mood{
    height: 60px;
    position: absolute;
    bottom: 90px;
    left: 600px;
}

.banner{
    width: 100%;
    height: 250px;
}

.handle{
   color: blue;
   font-size: 20px;
}

a:hover{
    color: purple;
}